.iPad {
    height: 580px;
    width: 1340px;
    background-color: rgb(213,237,248);
    margin-top: 10px;
}

.iPad-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 48px;
    font-weight: 550;
    padding-top: 50px;
}
.iPad-text-2 {
    font-size: 30px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iPad-buttons {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 20px;
    margin-right: 10px;
}
.iPad-button-1 {
    background-color: #0071E3;
    color: white;
    font-size: 17px;
    padding: 11px 21px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.iPad-button-2 {
    font-size: 17px;
    padding: 11px 21px;
    border-color: #0066CC;
    color: #0066CC;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.iPad-button-2:hover {
    background-color: blue;
    color: white;
}
.iPad-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    margin-top: 60px;
}

.iPad-image img {
    width: 450px;
    height: auto;
}
