.watch {
    height: 580px;
    width: 1340px;
    background-color: rgb(252, 249, 249);
    margin-top: 10px;
}

.watch-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 48px;
    font-weight: 600;
    padding-top: 50px;
}

.watch-text {
    font-size: 30px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}.watch-buttons {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 20px;
    margin-right: 10px;
}

.primary {
    background-color: #0071E3;
    color: white;
    padding: 11px 21px;
    font-size: 17px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.secondary {
    font-size: 17px;
    color: #0066CC;
    padding: 11px 21px;
    border-color: blue;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}.watch-images {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    margin-top: 60px;
}

.watch-images img {
    width: 230px;
    height: auto;
}

.secondary:hover {
    background-color: blue;
    color: white;
}
